@font-face {
	src: 'star_jedi/starjedi/Starjedi.ttf';
	font-family: 'starjedi'
}


h1  {
	font-family: 'starjedi'

}

p {
	font-family: 'starjedi'	
}

h1 
	text-align: center;
	color: red;
	opacity: 0.5; 
	font-family: 'Open Sans', sans-serif;
}

p { 
	font-family: 'Titillium Web', sans-serif;
 }
div {
	/*width: 100%::*/ 
	/*margin: 0 auto;*/


}