* {
	color: #ffffff;
	margin:0;
	}
nav ul{
	background-color:#333333;
	text-align: center;
}

li{
font-family: 'Hind', sans-serif;
display: inline-block;
padding: 35px;
padding-top:20px;
padding-bottom: 25px;
margin-left: 40px

img {
	height:50px;
	width: 25px

}

a:hover{
	color: grey;
	transition: 1s;
	text-decoration: none
}
a {
	text-decoration: none
}
}

}